{% extends "base.html" %}


{% block content %}
    <h1>Studios
    <a class="btn btn-primary float-right" href="{% url 'core:studio-create' %}">
        Create
    </a>
    </h1>
    <form method="get" action="" class="form-inline">
        {{ search_form }}
        <input type="submit" value="Search">
    </form>

    {% if studio_list %}
        <ul>
            {% for studio in studio_list %}
                <li><a href="{% url 'core:studio-detail' studio.id %}">{{ studio.name }}</a> {{ studio.country }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No studios found.</p>
    {% endif %}

{% endblock %}
